Pre-lecture HW

In [1]:
# 1,2. The titanic dataset is chosen.
import pandas as pd

# Load the Titanic dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Display the columns of the dataset
print("Columns in the Titanic dataset:")
print(titanic_df.columns)

# Display the first 5 rows of the dataset (you can change the number inside head() to display more rows)
print("\nFirst 5 rows of the Titanic dataset:")
print(titanic_df.head())

Columns in the Titanic dataset:
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

First 5 rows of the Titanic dataset:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

For 2.2 - Own general definitions:

Observation is each row of different data related to one object, which we can read and analyze.

Variables are the specific attributes of the objects, provided in each columns, which will have a word description or number as the data.

In [2]:
# 3. Simple summaries of the data, given by Chatgpt.
# Summary statistics for numerical columns
print("Summary statistics for numerical columns:")
print(titanic_df.describe())

# Value counts for the 'sex' column
print("\nCount of passengers by gender:")
print(titanic_df['sex'].value_counts())

# Value counts for the 'pclass' column (passenger class)
print("\nCount of passengers by class:")
print(titanic_df['pclass'].value_counts())

# Value counts for the 'embarked' column (port of embarkation)
print("\nCount of passengers by port of embarkation:")
print(titanic_df['embarked'].value_counts())

# Value counts for the 'survived' column (survival status)
print("\nCount of passengers by survival status:")
print(titanic_df['survived'].value_counts())

# Quick summary of all columns (both numerical and categorical)
print("\nGeneral information about the dataset:")
print(titanic_df.info())

Summary statistics for numerical columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Count of passengers by gender:
sex
male      577
female    314
Name: count, dtype: int64

Count of passengers by class:
pclass
3    491
1    216
2    184
Name: count, dtype: int64

Count of passengers by port of embarkation:
embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Count of passengers by survival status:
survived
0    549
1    342
Name: count, dtype: int64

General information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None

In [3]:
# 4. Relating codes for question 4
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Display the shape of the dataset
print("Shape of the dataset (rows, columns):")
print(titanic_df.shape)

# Summary statistics of the numerical columns
print("\nSummary statistics for numerical columns:")
print(titanic_df.describe())

# Check for missing values
print("\nNumber of missing values in each column:")
print(titanic_df.isnull().sum())

Shape of the dataset (rows, columns):
(891, 15)

Summary statistics for numerical columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Number of missing values in each column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

For 4: 

The df.shape provides the overall size of the dataset, as in the titanic dataset there are 891 rows and 15 columns. 

On the other side, df.describe included only the columns that is described with a numercial value. Adding on, the count row represented
how many values exist in the according column. If the number is smaller than the original numbers of rows in the datasets, it means
some of the values are missing or null.

For 5:
    
An attribute can be accessed without the (), and is the infomation or properties related to the object. Therefore they can be displayed without any additional operations.

A method is different as it ends with a () and has to perform some actions with the data or object provided. The method would create 
something new using the parameters given and the object that's being assigned with the method.

Post-lecture HW

For 6:

Count: The number of existing numerical values in the column.

Mean: The average of all the values, calculated by the sum of values divide by the number of values (count).

Std: The standard deviation of the column of data. It is calculated with a formula and represents how far are the data dispersed away from the mean.

Min: The minimum or lowest value in the column.

25%: The first quartile of the data. The number that separates the bottom 25% values from the rest.

50%: The median, second quartile, or the value in the middle (50%) of the dataset.

75%: The third quartile of the data. The number that separates the top 25% values from the rest.

Max: The maximum or largest value in the column.

For 7:
    
7.1. A case where we should use df.dropna() over del df['col'] would be to remove all rows or column that contains missing data. The df.dropna() can remove all the rows or column that contains null as a value, depending on the arguement given.

7.2. A case where we should use del df['col'] over df.dropna() would be to remove a column of our choice. Since del df['col'] can only be used to delete columns and the name of the column need to be typed as the arguement of the method.

7.3 Using del df['col'] before df.dropna() is important as there may be unnecessary columns with missing data, and if we apply df.dropna() first, then the respective rows with the missing data will be removed, even if they contain all the other data that we need for furthur analysis. Therefore we should use del df['col'] in advance to delete the unwanted columns.

In [4]:
# Code for 7.4

import pandas as pd
# Load Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Before Report: Missing data analysis
print("Before Cleanup - Missing Data Report:")
print(df.isnull().sum())  # Show missing values per column
print(f"\nInitial Shape of the Dataset: {df.shape}\n")

# Step 2: Remove columns with too many missing values or irrelevant data
# For example, 'deck' has too many NaNs and can be considered irrelevant for general analysis
del df['deck']  # Remove 'deck'

# Step 3: Remove rows with any missing values
df_cleaned = df.dropna()

# After Report: Check how the dataset has changed
print("\nAfter Cleanup - Missing Data Report:")
print(df_cleaned.isnull().sum())  # Verify there are no missing values
print(f"\nFinal Shape of the Dataset: {df_cleaned.shape}")

Before Cleanup - Missing Data Report:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Initial Shape of the Dataset: (891, 15)


After Cleanup - Missing Data Report:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Final Shape of the Dataset: (712, 14)

7.4 I have approached to remove the column "deck" and use df.dropna() for the remaining rows with missing data. 

Before removing the missing data, there are 891 rows, which 688 of them contained a missing data in "deck", therefore removing this column would prevent df.dropna() from removing an excessive amount of data. Continuing, 177 missing data is found in age and 2 in embark_town. I believe age is a necessary column when analyzing people's survival rate on the titanic, therefore the column is kept and rows with missing age is removed. Lastly, only 2 embark_town data are missing, which is small compared to the size of the dataset, therefore the rows with missing embark_town are removed.

After the missing data are removed, the size of the dataset is cut to 712 rows and 14 columns, with variables that may help the analysis of the demographics on the titanic, such as survived, age, and alone.

In [5]:
# Code for 8: (PS: the question said to use a different dataset from the titanic, but I already used it previously, so I guessed that
# I should use a different one still?)

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Group by 'Type 1' and describe the 'Attack' column
grouped_stats = df.groupby("Type 1")["Attack"].describe()

print(grouped_stats)

          count        mean        std   min    25%    50%     75%    max
Type 1
Bug        69.0   70.971014  37.040904  10.0  45.00   65.0   90.00  185.0
Dark       31.0   88.387097  25.774247  50.0  65.00   88.0  100.00  150.0
Dragon     32.0  112.125000  33.742622  50.0  86.25  113.5  134.25  180.0
Electric   44.0   69.090909  23.764169  30.0  53.75   65.0   85.00  123.0
Fairy      17.0   61.529412  29.751298  20.0  45.00   52.0   72.00  131.0
Fighting   27.0   96.777778  28.290163  35.0  80.00  100.0  120.00  145.0
Fire       52.0   84.769231  28.769275  30.0  62.25   84.5  101.00  160.0
Flying      4.0   78.750000  37.500000  30.0  60.00   85.0  103.75  115.0
Ghost      32.0   73.781250  29.629687  30.0  53.75   66.0   92.75  165.0
Grass      70.0   73.214286  25.380520  27.0  55.00   70.0   93.50  132.0
Ground     32.0   95.750000  33.059087  40.0  72.00   85.0  121.00  180.0
Ice        24.0   72.750000  27.289511  30.0  50.00   67.0   87.50  130.0
Normal     98.0   73.469388  30.295862   5.0  55.00   70.5   85.00  160.0
Poison     28.0   74.678571  19.630010  43.0  60.00   74.0   90.50  106.0
Psychic    57.0   71.456140  42.309265  20.0  45.00   57.0   95.00  190.0
Rock       44.0   92.863636  35.325458  40.0  59.75   95.0  120.25  165.0
Steel      27.0   92.703704  30.388276  24.0  77.50   89.0  110.00  150.0
Water     112.0   74.151786  28.377192  10.0  53.00   72.0   92.00  155.0

For 8:

8.1.The df.groupby("col1")["col2"].describe() groups the data of col2 in every row by each unique value in col1, then the describe() function would provide the same analysis as previously answered in question 6, such as mean and median. The rows will begin with the unique values in col1, and the numerical analysis is based on the values in col2.

8.2 The count of df.describe() provides how many non-null values appeared in each column. On the other hand, the count of df.groupby("col1")["col2"].describe() is greatly different as the count refers to the amount of non-null or existing values in each group. 

8.3.A Chatgpt and Google are equivalently useful. They both notice and understand the error as well as provided feedback on how to resolve the issue.

8.3.B Chatgpt is more helpful on noticeing typos and explaining how to correct the file's directory. Google search does minimum help in finding misspelled urls or codes.

8.3.C Chatgpt and Google both resolves the problem by telling me to change it to df. However, I believe Google only solve such problems with popular typos or misuse of variable names like pd or df. Chatgpt did a better job by explaining the nature of the NameError and conveniently provided the correct code.

8.3.D Chatgpt quickly finds out the missing parentheses and fixes the code, while Google does not recognize the problem and require extra searches to fix the issue.

8.3.E Similar to the above typo issues, Chatgpt finds the mistyped method and fixes it, while Google provides no help unless the specific line of code is searched.

8.3.F The results remained the same as above. Chatgpt explained the error and solves it, and Google can only provided brief ideas on what may have caused error in sometimes.

8.3.G Chatgpt points out the syntax error from the entire code and fixes the problem fast. Google gives a potential solution to the problem but is probably slower than Chatgpt.

For 9:

Of course! Although I didn't check the textbook very often, Chatgpt has been a useful tool for me to understand codes.

Chatbot session 1

Link: https://chatgpt.com/share/44f86046-cd9a-4b0f-abbb-9ceaa46c5778

Summary:Here’s a summary of our exchanges, highlighting the key topics we covered and the steps involved in each task:

---

### 1. **Loading and Inspecting the Pokémon Dataset**
   - You loaded the Pokémon dataset and asked for help with basic DataFrame operations in pandas.
   - We used `df.head()` to inspect the first few rows and `df.columns` to list the column names.
   - We also used `df.shape` to check the size of the dataset (800 rows and 12 columns).
   - I explained the difference between observations (rows) and variables (columns), with Pokémon stats like HP, Attack, Defense, and Legendary status serving as variables.

---

### 2. **Summary Statistics Using `df.describe()` and `df['column'].value_counts()`**
   - I provided code to summarize numeric data using `df.describe()` and generate counts for categorical data using `df['Type 1'].value_counts()`.
   - This allowed us to get an overview of Pokémon stats like HP, Attack, Defense, and the distribution of different Pokémon types.

---

### 3. **Handling Missing Values in the Titanic Dataset**
   - You asked about discrepancies between `df.shape` and `df.describe()`. I explained that `df.describe()` analyzes only numeric columns by default and reports the count of non-null (non-missing) values.
   - We discussed missing values in the Titanic dataset, which caused the "count" in `df.describe()` to be lower than the total number of rows due to NaN values in columns like `Age` and `Embarked`.

---

### 4. **Explaining Key Summary Statistics from `df.describe()`**
   - I defined the summary statistics from `df.describe()`:
     - `count`, `mean`, `std`, `min`, `25%`, `50% (median)`, `75%`, and `max`.
   - These statistics provide insights into the central tendency and spread of the data.

---

### 5. **Difference Between `del df['col']` and `df.dropna()`**
   - I explained that `del df['col']` permanently removes a specific column, while `df.dropna()` removes rows (or columns) with missing values.
   - The key difference is that `del df['col']` modifies the DataFrame in place by deleting a column, while `df.dropna()` removes rows or columns with missing data.

---

### 6. **Importance of Using `del df['col']` Before `df.dropna()`**
   - I emphasized that using `del df['col']` before `df.dropna()` can prevent unnecessary row deletions by first removing columns with a large number of missing values that may not be relevant for analysis.

---

### 7. **Removing Missing Data from the Titanic Dataset**
   - You requested an approach to remove all missing data using a combination of `del df['col']` and `df.dropna()`.
   - I suggested analyzing the missing data first and then deleting unnecessary columns with many missing values (e.g., `Cabin`), followed by using `df.dropna()` to remove rows with missing values.
   - Before and after reports were generated to show the impact of the cleaning process, resulting in a dataset with no missing values and a reduced number of rows.

---

This summary captures the essence of our discussions and solutions, focusing on loading, inspecting, cleaning, and analyzing datasets in pandas.

Chatbot session 2:
    
Link: https://chatgpt.com/share/4ee30f36-a1f5-47b7-beec-beca5c699303

Summary:Here is a summary of our exchanges, which you can submit as part of your homework assignment:

---

### 1. **Loading the Titanic Dataset**:
   - I provided a Python code snippet to load the Titanic dataset from the URL using Pandas, displaying both the columns and the first five rows of the dataset.
   - **Output**: The dataset contains 15 columns, including attributes such as `survived`, `pclass`, `sex`, `age`, `fare`, and more.

### 2. **Explanation of Observations and Variables**:
   - **Observation**: Each row in the dataset represents a **passenger** on the Titanic, containing information such as whether they survived, their class, gender, etc.
   - **Variable**: Each column is a **variable** (feature), such as `age`, `fare`, `survived`, etc., that describes a characteristic of the passengers.

### 3. **Generating a Brief Summary of the Data**:
   - I showed how to use methods like `df.describe()` to generate summary statistics for numerical columns and `df['column'].value_counts()` to get the distribution of categorical data (e.g., gender, class, port of embarkation).
   - **Summary**: 
     - `df.describe()` provides count, mean, standard deviation, etc., for numerical columns.
     - `df.value_counts()` shows the frequency of values for categorical columns.

### 4. **Discrepancies Between `df.shape` and `df.describe()`**:
   - **`df.shape`** returns the total number of rows and columns (e.g., 891 rows, 15 columns).
   - **`df.describe()`** analyzes only numerical columns by default, so the number of columns it processes is fewer than the total number in the dataset. The "count" in `df.describe()` reflects only non-missing values, hence it may be less than the total number of rows due to missing data.

### 5. **Difference Between Attributes and Methods**:
   - **Attributes** (e.g., `df.shape`) are properties of an object and are accessed without parentheses. They hold information such as the dimensions of the DataFrame.
   - **Methods** (e.g., `df.describe()`) are functions that perform an action or computation and are accessed with parentheses. Methods can accept arguments to modify their behavior.

---

This summary covers the main concepts discussed, including dataset exploration, summary statistics, discrepancies between `df.shape` and `df.describe()`, and the difference between attributes and methods in Pandas.

Chatbot session 3

Link:https://chatgpt.com/share/2a6c12cc-e464-4fea-872e-3a39a3f6bb86

Summary: Certainly! Here’s a summary of our interactions:

---

### Summary of Interactions:

**1. Initial Inquiry:**
- User wanted to understand the code `df.groupby("col1")["col2"].describe()` and how it performs summary statistics in the context of a Pokémon dataset.

**2. Explanation of `df.groupby("col1")["col2"].describe()`:**
- Explained that this code groups the data by the unique values in `col1`, then calculates summary statistics for the `col2` column within each group.

**3. Detailed Example with Pokémon Dataset:**
- Provided an example using the Pokémon dataset, showing how to group by `"Type 1"` and describe the `"Attack"` column, including sample output and explanation of the `count` values.

**4. Discussion on `df.describe()` vs. `df.groupby("col1")["col2"].describe()`:**
- Discussed how `df.describe()` provides column-wise summary statistics, including counts of non-missing values. In contrast, `df.groupby("col1")["col2"].describe()` provides summary statistics for `col2` within each group defined by `col1`, highlighting the importance of group sizes and distribution.

**5. Code Troubleshooting:**
   - **Issue 1: `NameError` due to using `DF` instead of `df`.**  
     **Solution:** Corrected the case sensitivity error by changing `DF` to `df`.
   - **Issue 2: `FileNotFoundError` when trying to load a local file `titanics.csv`.**  
     **Solution:** Suggested verifying the file path or using a public URL for the Titanic dataset.
   - **Issue 3: `NameError` due to missing parentheses in the `print` function.**  
     **Solution:** Corrected the `print` statement to include parentheses for Python 3 compatibility.
   - **Issue 4: `NameError` due to a typo in the method name (`descbrie`).**  
     **Solution:** Corrected the typo to `describe()`.
   - **Issue 5: Case sensitivity issue with column names (`"type 1"` and `"attack"`).**  
     **Solution:** Corrected column names to `"Type 1"` and `"Attack"`.
   - **Issue 6: Syntax error due to missing quotes around column names in `groupby`.**  
     **Solution:** Added quotes around `"Type 1"` and `"Attack"`.

**6. Final Code Correction:**
- Provided the final corrected code to group by `"Type 1"` and describe the `"Attack"` column:

```python
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Group by 'Type 1' and describe the 'Attack' column
grouped_stats = df.groupby("Type 1")["Attack"].describe()

print(grouped_stats)
```

---

Feel free to modify or expand this summary as needed for your assignment. If you have any more questions or need further assistance, just let me know!